.list {
  padding: 20px;

  &>h2 {
    margin-bottom: 20px;
  }
}

table {
  tr {
    height: 40px;
    width: 100%;
  }

  td, th {
    height: 40px;
    text-align: center;
    vertical-align: middle;
  }

  th {
    height: 60px;
  }

  button {
    margin: 0 10px;
  }
}
